<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>注册页面</title>
    <link type="text/css" href="{% static 'css/register_150706.css' %}" rel="stylesheet">
    <link href="{% static 'css/unite_header_1129.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/zhuce/pagetop_20121010.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jquery.1.11.1.min.js' %}"></script>
    <script type="text/javascript">
        window.onload = function () {
            let flag_username = false;
            let flag_pwd = false;
            let flag_repwd = false;
            let flag_code = false;

            function check_username(username) {
                let span_username_ok = $('#spn_username_ok');
                $.ajax({
                    type: "POST",
                    url: "{% url 'login_registerapp:checkname' %}",
                    data: "username=" + username + "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
                    success: function (resp) {
                        if (resp.status === 1) {
                            flag_username = true;
                            span_username_ok.css('display', 'inline-block');
                            span_username_ok.attr('class', 'icon_yes');
                            $('#J_tipUsername').html(resp.msg)
                        } else if (resp.status === 0) {
                            flag_username = false;
                            span_username_ok.css('display', 'inline-block');
                            span_username_ok.attr('class', 'icon_wrong');
                            $('#J_tipUsername').html(resp.msg)
                        }
                        {% comment %}else {
                            flag_username = false;
                            span_username_ok.css('display', 'inline-block');
                            span_username_ok.attr('class', 'icon_wrong');
                            $('#J_tipUsername').html('用户名不可用')
                        }{% endcomment %}
                    }
                })
            }

            $('#txt_username').blur(function () {
                let username = $('#txt_username').val();
                let span_username_ok = $('#spn_username_ok');
                let re_phone = /^1[3456789]\d{9}$/;
                let re_email = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
                if (username === '') {
                    flag_username = false;
                    span_username_ok.css('display', 'inline-block');
                    span_username_ok.attr('class', 'icon_wrong');
                    $('#J_tipUsername').html('帐号不能为空')
                } else {
                    if (/^[0-9]*$/.test(username)) {
                        if (!re_phone.test(username)) {
                            flag_username = false;
                            span_username_ok.css('display', 'inline-block');
                            span_username_ok.attr('class', 'icon_wrong');
                            $('#J_tipUsername').html('手机号格式不正确');
                            $('#J_tipUsername').css('color', 'red')
                        } else {
                            flag_username = true;
                            span_username_ok.attr('class', 'icon_yes');
                            $('#J_tipUsername').css('color', 'green');
                            check_username(username)
                        }
                    } else {
                        if (!re_email.test(username)) {
                            flag_username = false;
                            span_username_ok.css('display', 'inline-block');
                            span_username_ok.attr('class', 'icon_wrong')
                        } else {
                            flag_username = true;
                            span_username_ok.attr('class', 'icon_yes');
                            check_username(username)
                        }
                    }
                }
            });

            $('#txt_password').keyup(function () {
                $("#txt_repassword").val('')
                flag_repwd = false
                let spn_repassword_ok = $('#spn_repassword_ok');
                let J_tipSurePassword = $('#J_tipSurePassword');
                spn_repassword_ok.css('display', 'none');
                J_tipSurePassword.html('');

                let pwd = $('#txt_password').val();
                let repwd = $('#txt_repassword').val();
                let spn_password_ok = $('#spn_password_ok');
                let J_tipPassword = $('#J_tipPassword');
                let spnPwdStrong1 = $('#spnPwdStrong1');
                let spnPwdStrong2 = $('#spnPwdStrong2');
                let spnPwdStrong3 = $('#spnPwdStrong3');
                if (pwd.trim() === '') {
                    flag_pwd = false;
                    spn_password_ok.attr('class', 'icon_wrong');
                    spn_password_ok.css('display', 'inline-block');
                    J_tipPassword.html('密码不能为空');
                    J_tipPassword.css('color', 'red')
                } else {
                    //6-16位纯数字
                    if (/^[0-9]{6,16}$/.test(pwd) || /^[a-zA-Z0-9]{6,16}$/.test(pwd)) {
                        flag_pwd = true;
                        spn_password_ok.attr('class', 'icon_yes');
                        spn_password_ok.css('display', 'inline-block');
                        J_tipPassword.html('');
                        spnPwdStrong1.css('display', 'block');
                        spnPwdStrong2.css('display', 'none');
                        spnPwdStrong2.css('display', 'none');
                    }
                    //字母+数字
                    else if (/^(?!\d+$)(?![a-zA-Z]+$)[\dA-Za-z]{6,16}$/.test(pwd)) {
                        flag_pwd = true;
                        spn_password_ok.attr('class', 'icon_yes');
                        spn_password_ok.css('display', 'inline-block');
                        J_tipPassword.html('');
                        spnPwdStrong2.css('display', 'block');
                        spnPwdStrong1.css('display', 'none');
                        spnPwdStrong3.css('display', 'none');
                    }
                    //字母+字符
                    else if (/^(?!((?=[\x21-\x7e]+)[^A-Za-z0-9])+$)(?![a-zA-Z]+$)[^\u4e00-\u9fa5\d]{6,16}$/.test(pwd)) {
                        flag_pwd = true;
                        spn_password_ok.attr('class', 'icon_yes');
                        spn_password_ok.css('display', 'inline-block');
                        J_tipPassword.html('');
                        spnPwdStrong2.css('display', 'block');
                        spnPwdStrong1.css('display', 'none');
                        spnPwdStrong3.css('display', 'none');
                    }
                    //数字+字符
                    else if (/^(?!((?=[\x21-\x7e]+)[^A-Za-z0-9])+$)(?!\d+$)[^\u4e00-\u9fa5a-zA-Z]{6,16}$/.test(pwd)) {
                        flag_pwd = true;
                        spn_password_ok.attr('class', 'icon_yes');
                        spn_password_ok.css('display', 'inline-block');
                        J_tipPassword.html('');
                        spnPwdStrong2.css('display', 'block');
                        spnPwdStrong1.css('display', 'none');
                        spnPwdStrong3.css('display', 'none');
                    }
                    //强
                    else if (/^(?=.*((?=[\x21-\x7e]+)[^A-Za-z0-9]))(?=.*[a-zA-Z])(?=.*[0-9])[^\u4e00-\u9fa5]{6,16}$/.test(pwd)) {
                        flag_pwd = true;
                        spn_password_ok.attr('class', 'icon_yes');
                        spn_password_ok.css('display', 'inline-block');
                        J_tipPassword.html('');
                        spnPwdStrong3.css('display', 'block');
                        spnPwdStrong1.css('display', 'none');
                        spnPwdStrong2.css('display', 'none');
                    } else {
                        flag_pwd = false;
                        spn_password_ok.attr('class', 'icon_wrong');
                        spn_password_ok.css('display', 'inline-block');
                        J_tipPassword.html('密码格式不正确');
                        J_tipPassword.css('color', 'red');
                        spnPwdStrong1.css('display', 'none');
                        spnPwdStrong2.css('display', 'none');
                        spnPwdStrong3.css('display', 'none')
                    }
                }
            });

            $('#txt_repassword').keyup(function () {
                let txt_password = $('#txt_password').val();
                let txt_repassword = $('#txt_repassword').val();
                let spn_repassword_ok = $('#spn_repassword_ok');
                let J_tipSurePassword = $('#J_tipSurePassword');
                if (txt_repassword === '') {
                    flag_repwd = false;
                    spn_repassword_ok.css('display', 'inline-block');
                    spn_repassword_ok.attr('class', 'icon_wrong');
                    J_tipSurePassword.html('密码不能为空');
                    J_tipSurePassword.css('color', 'red')
                } else {
                    if (txt_password === txt_repassword) {
                        flag_repwd = true;
                        spn_repassword_ok.css('display', 'inline-block');
                        spn_repassword_ok.attr('class', 'icon_yes');
                        J_tipSurePassword.html('密码输入一致');
                        J_tipSurePassword.css('color', 'green')
                    } else {
                        flag_repwd = false;
                        spn_repassword_ok.css('display', 'inline-block');
                        spn_repassword_ok.attr('class', 'icon_wrong');
                        J_tipSurePassword.html('密码不一致');
                        J_tipSurePassword.css('color', 'red')
                    }
                }
            });

            // 更换验证码
            $('#vcodeImgWrap').click(function () {
                $('#imgVcode').attr("src", "{% url 'login_registerapp:captcha' %}?" + new Date().getTime());
            });
            $('#vcodeImgBtn').click(function () {
                $('#imgVcode').attr("src", "{% url 'login_registerapp:captcha' %}?" + new Date().getTime());
            });

            $('#txt_vcode').blur(function () {
                let captcha = $('#txt_vcode').val();
                let spn_vcode_ok = $('#spn_vcode_ok');
                $.ajax({
                    type: "POST",
                    url: "{% url 'login_registerapp:check_captcha' %}",
                    data: "code=" + captcha + "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
                    success: function (resp) {
                        if (resp.status === 1) {
                            console.log(resp.status)
                            flag_code = true;
                            spn_vcode_ok.css('display', 'inline-block');
                            spn_vcode_ok.attr('class', 'icon_yes pin_i');
                            $('#J_tipVcode').html(resp.msg)
                        } else if (resp.status === 0) {
                            console.log(resp.status);
                            flag_code = false;
                            spn_vcode_ok.css('display', 'inline-block');
                            spn_vcode_ok.attr('class', 'icon_wrong pin_i');
                            $('#J_tipVcode').html(resp.msg)
                        }
                        {% comment %}else {
                            flag_username = false;
                            span_username_ok.css('display', 'inline-block');
                            span_username_ok.attr('class', 'icon_wrong');
                            $('#J_tipUsername').html('用户名不可用')
                        }{% endcomment %}
                    }
                })
            });

            $('#J_submitRegister').click(function () {
                let agree = $('#chb_agreement:checked').val();
                let J_submitRegister = $('#J_submitRegister');
                let J_submitRegisterUnclick = $('#J_submitRegisterUnclick');
                console.log(flag_username, "11111");
                console.log(flag_pwd, "22222");
                console.log(flag_code, "33333");
                console.log(flag_repwd, "44444");
                console.log(agree, "55555");
                if (agree === '1' && flag_username && flag_pwd && flag_repwd && flag_code) {
                    J_submitRegisterUnclick.attr('display', 'inline-block');
                    $.ajax({
                        type: "POST",
                        url: "{% url 'login_registerapp:register_logic' %}",
                        data: $("#register_form").serialize() + "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
                        success: function (resp) {
                            if (resp.status === 1) {
                                location.href = "{% url 'login_registerapp:register_ok' %}"
                            } else if (resp.status === 0) {
                                alert(resp.msg)
                            }
                        }
                    })
                } else {
                    J_submitRegisterUnclick.attr('display', 'none');
                    J_submitRegister.attr('href', 'javascript:void(0)');
                    alert('请检查数据是否填写正确')
                }
            })

        }
    </script>
</head>

<body>

<div class="ddnewhead_wrap">
    <div class="ddnewhead_content ddnewhead_content2">
        <div class="ddnewhead_operate" id="__ddnav_menu">

            <p id="nickname">欢迎光临当当网，请
                <a name="ddnav_login" href="{% url 'login_registerapp:login' %}" target="_self"
                   class="login_link">登录</a>
                <a name="ddnav_register" href="{% url 'login_registerapp:register' %}" target="_self"
                   class="login_link">免费注册</a>
            </p>
        </div>
        <div class="ddnewhead_logo">
            <a href="http://www.dangdang.com" title="返回首页" name="ddnav_logo">
                <img src="/static/images/zc_logo.jpg" alt="百知网">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="ddnewcarthead_bottom"></div>
</div>

<form id="register_form" method="post" action="register.php" onsubmit="return false;">
    {% csrf_token %}
    <input style="display: none;" type="password">
    <div id="bd">
        <!--默认-->
        <div class="shadow_box">
            <div class="register_box">
                <div class="head">
                    <span class="dd_more">
                        <a href="{% url 'home:index' %}" class="home">当当首页</a>
                        <a href="http://help.dangdang.com/details/page2">注册帮助</a>
                    </span>
                    <a href="javascript:void(0);" class="head_a head_a1">新用户注册</a>
                    <!--<a href="register_company.php?returnurl=http://book.dangdang.com/" class="head_a">企业用户注册</a>-->
                </div>
                <div class="body">
                    <div id="J_cheatProofTop" class="new_tip" style="display:none;">
                        贴心提示：请勿设置与邮箱密码相同的账户登录密码或支付密码，防止不法分子窃取您的当当账户信息，
                        <a href="http://blog.dangdang.com/?p=22276">谨防诈骗</a>！
                    </div>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td class="t">邮箱／手机号码</td>
                            <td class="z_index2">
                                <input name="txt_username" id="txt_username" autocomplete="off" maxlength="40"
                                       tabindex="1" value="" placeholder="请输入您的邮箱或手机号码" class="text" type="text">
                                <span id="spn_username_ok" style="display: inline-block;" class="icon_wrong"></span>
                                <span id="J_tipUsername" class="cue"></span>
                                <ul class="email_select" id="select_emaildomain" style="display: none;">
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title="" domin=""></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@qq.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@163.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@126.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@sina.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@hotmail.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@sohu.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@gmail.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@tom.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@139.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@21cn.com"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@yeah.net"></li>
                                    <li onmouseout="this.className=&quot;&quot;"
                                        onmouseover="this.className=&quot;hover_domain&quot;" title=""
                                        domin="@sina.cn"></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">登录密码</td>
                            <td>
                                <input name="txt_password" id="txt_password" onpaste="return false;" tabindex="2"
                                       class="text" maxlength="20" type="password">
                                <span id="spn_password_ok" class="icon_yes" style="display: none;"></span>
                                <span id="J_tipPassword" class="cue warn"></span>
                                <span id="J_tipUpperCaseBox" class="prompt" style="display: none;">
                                    <span class="icon"></span>键盘大写锁定已打开，请注意大小写!
                                </span>
                                <span id="spnPwdStrongTips">
											<span id="spnPwdStrong1" class="cue warn j_pwdStrong"
                                                  style="display: none;">
												<span class="msg_level"><span
                                                        class="s1"></span><span></span><span></span></span>密码过于简单
											</span>										 
											<span id="spnPwdStrong2" class="cue warn j_pwdStrong"
                                                  style="display: none;">
												<span class="msg_level"><span class="s1"></span><span class="s2"></span><span></span></span>试试字母、符号、数字的组合更安全
											</span>
											<span id="spnPwdStrong3" class="cue warn j_pwdStrong"
                                                  style="display: none;">
												<span class="msg_level"><span class="s1"></span><span class="s2"></span><span
                                                        class="s3"></span></span>密码设置安全，放心使用
											</span>
										</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">确认密码</td>
                            <td>
                                <input id="txt_repassword" name="txt_repassword" onpaste="return false" tabindex="3"
                                       class="text" maxlength="20" type="password"><span id="spn_repassword_ok"
                                                                                         class="icon_wrong"
                                                                                         style="display: none;"></span>
                                <span id="J_tipSurePassword" class="cue"></span>
                            </td>
                        </tr>
                        <tr id="J_mobileV" style="display:none">
                            <td class="t">手机验证</td>
                            <td>
                                <input name="mobile" id="txt_mobile" maxlength="11" tabindex="4" class="text"
                                       placeholder="请输入你要验证的手机号码" type="text" onblur="check_code()"><span
                                    id="spn_mobile_ok" class="icon_yes "
                                    style="display: none;"></span>
                                <span id="J_tipMobile" class="cue warn"></span>
                            </td>
                        </tr>
                        <tr>
                            <!-- 图形验证码 -->
                            <td class="t j-vcode">验证码</td>
                            <td class="j-vcode">
                                <input class="text pin" id="txt_vcode" name="txt_vcode" autocomplete="off"
                                       placeholder="请输入验证码" maxlength="4" tabindex="5" type="text">
                                <a class="code_pic" id="vcodeImgWrap" name="change_code_img" href="javascript:void(0);">
                                    <img id="imgVcode" title="点击更换验证码" alt="点击更换验证码"
                                         src="{% url 'login_registerapp:captcha' %}" width="84" height="37">
                                </a>
                                <a id="vcodeImgBtn" name="change_code_link" class="code_picww"
                                   href="javascript:void(0);">换张图</a>
                                <span id="spn_vcode_ok" class="icon_yes pin_i" style="display: none;"></span>
                                <span id="J_tipVcode" class="cue warn"></span>
                                <!--<span class="icon_wrong pin_i"></span>-->
                            </td>
                            <!-- 短信验证码 -->
                            <td class="t j-phoneVcode" style="display: none">短信验证码</td>
                            <td class="j-phoneVcode" style="display: none">
                                <input id="J_MobileCode" name="txt_pop_sms_vcode" autocomplete="off" maxlength="6"
                                       tabindex="6" class="text pin" placeholder="请填写短信验证码" type="text">
                                <a class="get_pin get_pinUnClick" id="J_countDownTip" href="javascript:void(0);"
                                   style="display: none;" tabindex="5">2分钟后重新获取</a>
                                <a class="get_pin" id="sendMobileCode" href="javascript:void(0);"
                                   tabindex="5">获取短信验证码</a>
                                <span id="spn_mobileCode_ok" class="icon_yes" style="display: none;"></span>
                                <span id="J_tipMobileCode" class="cue"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">&nbsp;</td>
                            <td class="clause">
										<span class="float_l">
											<input id="chb_agreement" name="chb_agreement"
                                                   onmouseover="this.style.cursor='pointer';this.style.cursor='hand';"
                                                   tabindex="7" checked="checked" type="checkbox" value="1">我已阅读并同意
											<a target="_blank" href="http://help.dangdang.com/details/page12"
                                               tabindex="8">《当当交易条款》</a>和
											<a target="_blank" href="http://help.dangdang.com/details/page42"
                                               tabindex="9">《当当社区条款》</a>
										</span>
                                <span id="J_tipAgreement" class="cue"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">&nbsp;</td>
                            <td><a id="J_submitRegister" class="btn_login"
                                   tabindex="10">立即注册</a><a id="J_submitRegisterUnclick" style="display: none;"
                                                            class="btn_login">注册中...</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input id="btn_confirm" style="display: none" type="submit">
    <input name="hdn_username" id="hdn_username" type="hidden">
    <input name="hdn_mobile" id="hdn_mobile" type="hidden">
    <input name="hdn_password" id="hdn_password" type="hidden">
    <input name="action_post" id="action_post" value="register" type="hidden">
    <input name="returnurl" id="returnurl" value="http://book.dangdang.com/" type="hidden">
</form>
<style type="text/css">
    .footer_nav_box {
        border-top: 1px solid #ebebeb;
        width: 100%;
        _width: expression(this.scrollWidth < 960 ? "960px" : "auto");
        min-width: 960px;
        padding: 17px 0 50px;
    }

    .footer_nav_box a, .footer_nav_box {
        color: #8c8c8c;
        font-size: 12px;
        text-decoration: none;
    }

    .footer_nav_box a:hover {
        color: #f48570;
        text-decoration: underline;
    }

    .footer_nav_box .footer_nav {
        text-align: center;
        line-height: 20px;
        padding-bottom: 17px;
        padding-top: 25px;
    }

    .footer_nav_box .footer_nav span.sep {
        margin: 0 17px 0 19px;
    }

    .footer_nav_box .footer_copyright {
        line-height: 20px;
        text-align: center;
        width: 960px;
        margin: 0 auto;
    }

    .footer_nav_box .footer_copyright span.sep {
        margin: 0 17px 0 19px;
    }

    .footer_nav_box .footer_icon {
        padding: 10px 0 0 340px;
        width: 640px;
        margin: 0 auto;
        height: 77px;
    }

    .footer_nav_box .validator, .footer_nav_box .knet {
        float: left;
        display: inline;
        padding: 15px 5px 15px;
        width: 135px;
        height: 47px;
    }

    .footer_copyright {
        padding: 10px 0 0 0;
        margin: 0 auto;
        float: none;
        width: auto;
        text-align: center;
        color: #8c8c8c;
    }

    .footer_copyright span, .public_footer .footer_copyright a.footer_img {
        display: inline-block;
        float: none;
    }

    .footer_copyright a {
        padding: 0 4px;
        color: #8c8c8c;
        font-size: 12px;
        text-decoration: none;
    }

    .footer_copyright a:hover {
        color: #f48570;
        text-decoration: underline;
    }

    .footer_nav_box .footer_nav .footer_hot_search {
        display: inline-block;
        *display: inline;
        width: 50px;
        position: relative
    }

    .footer_nav_box .footer_nav .pos_a_box {
        position: absolute;
        left: -251px;
        top: 22px;
        background-color: #f48570;
        width: 300px;
        border-radius: 8px;
        text-align: center;
        height: 14px;
        line-height: 14px
    }

    .footer_nav_box .footer_nav .pos_a_box a, .footer_nav_box .footer_nav .pos_a_box a:hover, .footer_nav_box .footer_nav .pos_a_box span {
        padding: 0 2px;
        color: #fff;
        text-decoration: none
    }

    .footer_nav_box .footer_nav .pos_a_box i {
        display: block;
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #fff #fff #f48570 #fff;
        position: absolute;
        right: 20px;
        top: -4px
    }
</style>
<div class="footer_nav_box">
    <div class="footer_nav"><a href="http://static.dangdang.com/topic/2227/176801.shtml" target="_blank" rel="nofollow">公司简介</a><span
            class="sep">|</span><a href="http://ir.dangdang.com/" target="_blank">Investor Relations</a><span
            class="sep">|</span><a href="http://zhaopin.dangdang.com" target="_blank">诚聘英才</a><span class="sep">|</span><a
            href="http://static.dangdang.com/topic/744/200778.shtml" target="_blank">手机当当</a><span
            class="sep">|</span><a href="http://union.dangdang.com/" target="_blank">网站联盟</a><span
            class="sep">|</span><a href="http://outlets.dangdang.com/merchants_open" target="_blank">当当招商</a><span
            class="sep">|</span><a href="http://misc.dangdang.com/groupbuy/Default.aspx" target="_blank" rel="nofollow">机构销售</a><span
            class="sep">|</span><a href="http://blog.dangdang.com/" target="_blank">官方Blog</a>
        <script>
            var setTo = null;

            function showghotsearch() {
                clearTimeout(setTo);
                document.getElementById("hot_search_content").style.display = "block";
            }

            function hidehotsearch() {
                setTo = setTimeout(function () {
                    document.getElementById("hot_search_content").style.display = "none";
                }, 100)
            }
        </script>
    </div>
    <div class="footer_copyright"><span>Copyright (C) 当当网 2004-2017, All Rights Reserved</span></div>
    <div class="footer_copyright"><span><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP证041189号</a></span><span
            class="sep">|</span><span>出版物经营许可证 新出发京批字第直0673号</span><span class="sep">|</span><span>食品流通许可证：SP1101011010021855(1-1)</span><br><span>互联网药品信息服务资格证编号：(京)-非经营性-2012-0016</span><span
            class="sep">|</span><span>京公网安备110101000001号</span></div>
    <!-- 有三个icon的时候加footer_icon2 -->
    <div class="footer_icon footer_icon2" style="padding-left: 55px;">
        <div class="validator"><a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202001051000098"
                                  target="_blank" class="footer_img"><img src="/static/images/validate.gif"></a></div>
        <div class="knet"><!-- 可信网站LOGO安装开始 -->
            <script type="text/JavaScript">
                function CNNIC_change(eleId) {
                    var str = document.getElementById(eleId).href;
                    var str1 = str.substring(0, (str.length - 6));
                    str1 += CNNIC_RndNum(6);
                    document.getElementById(eleId).href = str1;
                }

                function CNNIC_RndNum(k) {
                    var rnd = "";
                    for (var i = 0; i < k; i++)
                        rnd += Math.floor(Math.random() * 10);
                    return rnd;
                }
            </script>
            <a href="https://ss.knet.cn/verifyseal.dll?sn=2010091900100002234&amp;pa=2940051" tabindex="-1" id="urlknet"
               target="_blank" rel="nofollow"><img alt="可信网站" name="CNNIC_seal" src="/static/images/knetSealLogo.png"
                                                   oncontextmenu="return false;" onclick="CNNIC_change('urlknet')"
                                                   width="128" height="47" border="true"></a><!-- 可信网站LOGO安装结束 -->
        </div>
        <div class="validator"><a href="http://bj429.com.cn/" target="_blank" class="footer_img"><img
                src="/static/images/7d593c48-48f6-4fc9-85e0-7d6e10dfc2a2.hpvgUvc9"></a></div>
        <div class="validator"><a id="_pingansec_bottomimagesmall_brand"
                                  href="http://si.trustutn.org/info?sn=302161014024825726885&amp;certType=1"
                                  target="_blank"><img src="/static/images/brand_128_47.png"></a></div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>
